.body {
    background-attachment: fixed;
    background-color: gray;
}
.head{
    text-align:center;
    font-size: 24px;
    font-style: italic;
    color: black;
}
#form {
    align-content: center;
    padding: 3pc;
    border: hsl(hue, saturation, lightness);
    border-style:inset;
}